#content {
    margin-left:25px;
}

h1 {
    font-size:18px;
    color: #555555;
    margin: 0;
}

#vendormap p {
    font-size:12px;
    color: #444;
}

#vendormap p.location {
  margin-top: 0;
}
#vendormap p:last-child {
  margin-bottom:0;
}

#vendormap a {
    color: #b14900;
}

#vendormap .address {
    font-size: 11px;
    color: #888;
}

#vendormap .address a {
   color: #888;
}

#vendormap {
  width: 600px;
  height: 450px;
  background-color: #aaa;
  border: 1px solid #aaa;
}